:root {
  font-family: Inter;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  background: #bdc3c7;
  background: -webkit-linear-gradient(to right, #153d3b, #dce6e0);
  background: linear-gradient(to right, #1d5235, #bdc7c5);
}